.footer.text-center
    h4
        p.bg-success.text-center.text-muted.small-padding
            | © 2014, with&nbsp;
            span.fa.fa-heart
            | &nbsp;from the Eugene Mutai -- http://knightslab.com